/* Button styles */
button {
  font-family: "VCR OSD Mono", monospace;
  background-color: black;
  color: red;
  border: 2px solid red;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  font-size: 1.2em;
}

button:hover {
  background-color: red;
  color: black;
}

/* Text styles */
p {
  margin: 15px 0;
  font-size: 1.5em;
  text-align: center;
}

div {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.main-header,
.sub-header {
  display: flex;
  justify-content: center;
  gap: 0px;
  padding: 0px;
}

/* Responsive styles */
@media (max-width: 768px) {
  body {
    font-size: 1em;
  }

  .button-container {
    gap: 0px;
  }

  button {
    margin: 2px;
    padding: 5px;
    font-size: 0.5em;
  }
}

app-alphabet {
  width: 100%;
}

.obsidian-iframe {
  width: 100%;
  height: 100vh;
  border: none;
}
