<div class="main-header">
  <button (click)="selectMain('Chapters')">Chapters</button>
  <button (click)="selectMain('Obsidian')">Flowcharts</button>
  <button routerLink="/alphabet">Alphabet</button>
</div>
<div class="sub-header" *ngIf="selectedMain === 'Chapters'">
  <button routerLink="/chapters/1-0" (click)="this.navigate()">Chapter 1</button>
  <button routerLink="/chapters/2-0-0" (click)="this.navigate()">Chapter 2</button>
  <button routerLink="/chapters/3-0-2" (click)="this.navigate()">Chapter 3</button>
  <button routerLink="/chapters/4-0-2" (click)="this.navigate()">Chapter 4</button>
  <button routerLink="/chapters/5-0-1" (click)="this.navigate()">Chapter 5</button>
  <button routerLink="/chapters/6-0-2" (click)="this.navigate()">Chapter 6</button>
  <button routerLink="/chapters/7-0-1" (click)="this.navigate()">Chapter 7</button>
  <button routerLink="/chapters/8-0-1" (click)="this.navigate()">Chapter 8</button>
  <button routerLink="/chapters/9-0-1" (click)="this.navigate()">Chapter 9</button>
</div>

<div class="sub-header" *ngIf="selectedMain === 'Obsidian'">
  <button routerLink="/obsidian/1" (click)="this.navigate()">Flowchart 1</button>
  <button routerLink="/obsidian/2" (click)="this.navigate()">Flowchart 2</button>
  <button routerLink="/obsidian/3" (click)="this.navigate()">Flowchart 3</button>
  <button routerLink="/obsidian/4" (click)="this.navigate()">Flowchart 4</button>
  <button routerLink="/obsidian/5" (click)="this.navigate()">Flowchart 5</button>
  <button routerLink="/obsidian/6" (click)="this.navigate()">Flowchart 6</button>
  <button routerLink="/obsidian/7" (click)="this.navigate()">Flowchart 7</button>
  <button routerLink="/obsidian/8" (click)="this.navigate()">Flowchart 8</button>
  <button routerLink="/obsidian/9" (click)="this.navigate()">Flowchart 9</button>
</div>
<router-outlet></router-outlet>
