/* Font declarations */
@font-face {
  font-family: "VCR OSD Mono";
  src: url("/assets/fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
}

@font-face {
  font-family: "Founders";
  src: url("/assets/fonts/Founders-Regular.otf") format("opentype");
}

/* Global styles */
* {
  user-select: none;
}

body {
  background-color: black;
  color: red;
  font-family: "VCR OSD Mono", monospace;
  font-size: 1.5em;
}

.white {
  color: white;
}

.obsidian-iframe {
  width: 100%;
  height: calc(100vh - 50px); /* Adjust 50px to the height of your header */
  border: none;
}
