<div *ngIf="data">
  <div *ngIf="data.response.chapter">
    <div *ngIf="data.response.chapter.address">
      <ng-container
        *ngIf="
          data.response.chapter.address.endsWith('.png');
          else mediaTemplate
        "
      >
        <img
          class="responsive-media"
          [src]="'/assets/' + data.response.chapter.address"
          alt="Chapter Image"
        />
      </ng-container>
      <ng-template #mediaTemplate>
        <ng-container
          *ngIf="
            data.response.chapter.address.endsWith('.mp4');
            else audioTemplate
          "
        >
          <video
            class="responsive-media"
            [src]="'/assets/' + data.response.chapter.address"
            controls
            autoplay
          ></video>
        </ng-container>
        <ng-template #audioTemplate>
          <audio
            [src]="'/assets/' + data.response.chapter.address"
            controls
          ></audio>
        </ng-template>
      </ng-template>
    </div>
    <div *ngIf="data.response.chapter.metadata">
      <ng-container
        *ngIf="
          data.response.chapter.metadata.endsWith('.png');
          else mediaTemplate
        "
      >
        <img
          class="responsive-media"
          [src]="'/assets/' + data.response.chapter.metadata"
          alt="Chapter Image"
        />
      </ng-container>
      <ng-template #mediaTemplate>
        <ng-container
          *ngIf="
            data.response.chapter.metadata.endsWith('.mp4');
            else audioTemplate
          "
        >
          <video
            class="responsive-media"
            [src]="'/assets/' + data.response.chapter.metadata"
            controls
            autoplay
          ></video>
        </ng-container>
        <ng-template #audioTemplate>
          <audio
            [src]="'/assets/' + data.response.chapter.metadata"
            controls
          ></audio>
        </ng-template>
      </ng-template>
    </div>
    <div
      *ngFor="
        let part of getTextWithoutMarkers(data.response.chapter.text).split(
          '\n'
        )
      "
    >
      <p [innerHTML]="part">{{ part }}</p>
    </div>
    <div class="button-container">
      <div *ngIf="history.length !== 0">
        <button (click)="goBack()">BACK</button>
      </div>
      <div *ngIf="data.response.chapter.answer1">
        <button (click)="loadChapter(data.response.chapter.answer1Location)">
          {{ data.response.chapter.answer1.toUpperCase() }}
        </button>
      </div>
      <div *ngIf="data.response.chapter.answer2">
        <button (click)="loadChapter(data.response.chapter.answer2Location)">
          {{ data.response.chapter.answer2.toUpperCase() }}
        </button>
      </div>
      <div *ngIf="data.response.chapter.answer3">
        <button (click)="loadChapter(data.response.chapter.answer3Location)">
          {{ data.response.chapter.answer3.toUpperCase() }}
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="data.response.content">
    <div *ngIf="data.response.content.address">
      <ng-container
        *ngIf="
          data.response.content.address.endsWith('.png');
          else mediaTemplate
        "
      >
        <img
          class="responsive-media"
          [src]="'/assets/' + data.response.content.address"
          alt="Chapter Image"
        />
      </ng-container>
      <ng-template #mediaTemplate>
        <ng-container
          *ngIf="
            data.response.content.address.endsWith('.mp4');
            else audioTemplate
          "
        >
          <video
            class="responsive-media"
            [src]="'/assets/' + data.response.content.address"
            controls
            autoplay
          ></video>
        </ng-container>
        <ng-template #audioTemplate>
          <audio
            [src]="'/assets/' + data.response.content.address"
            controls
          ></audio>
        </ng-template>
      </ng-template>
    </div>
    <div
      *ngFor="
        let part of getTextWithoutMarkers(data.response.content.text).split(
          '\n'
        )
      "
    >
      <p [innerHTML]="part"></p>
    </div>
    <p>CHAPTER END</p>
    <div class="button-container">
      <div *ngIf="history.length !== 0">
        <button (click)="goBack()">BACK</button>
      </div>
      <div *ngIf="data.response.content.answer1">
        <button>{{ data.response.content.answer1.toUpperCase() }}</button>
      </div>
      <div *ngIf="data.response.content.answer2">
        <button>{{ data.response.content.answer2.toUpperCase() }}</button>
      </div>
      <div *ngIf="data.response.content.answer3">
        <button>{{ data.response.content.answer3.toUpperCase() }}</button>
      </div>
    </div>
  </div>
</div>
