/* Media styles */
img,
video {
  max-width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 2px solid red;
}

/* Button styles */
button {
  background-color: black;
  color: red;
  border: 2px solid red;
  font-family: "VCR OSD Mono", monospace;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  font-size: 1.2em;
}

button:hover {
  background-color: red;
  color: black;
}

/* Text styles */
p {
  font-family: "VCR OSD Mono", monospace;
  margin: 15px 0;
  font-size: 1.2em;
  text-align: center;
  user-select: text;
  width: 70%;
  margin: 0 auto;
}

div {
  padding: 15px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.poll-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.poll {
  flex-direction: row;
}

textarea {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 6vmin;
  padding-left: 6px;
  white-space: pre-wrap;
  font-size: 2.25vmin;
  font-family: "VCR OSD Mono", monospace;
  border: 2px solid #c00000;
  color: #c00000;
  background-color: inherit;
  outline: none;
  box-sizing: border-box;
}
/* Responsive styles */
@media (max-width: 768px) {
  .button-container {
    flex-direction: column;
    gap: 0;
  }

  button {
    width: 100%;
    padding: 10px;
    margin: 0;
  }

  .responsive-media {
    max-height: 30%;
    max-width: 80%;
    width: auto;
  }

  p {
    font-size: 1em;
    width: 90%;
  }

  div {
    padding: 5px;
  }
}
