/* Media styles */
img,
video {
  max-width: 40%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 2px solid red;
}

#chapter-location {
  font-size: 2em;
}

/* Button styles */
button {
  background-color: black;
  color: red;
  border: 2px solid red;
  font-family: "VCR OSD Mono", monospace;
  padding: 10px;
  cursor: pointer;
  font-size: 1.2em;
}

button:hover {
  background-color: red;
  color: black;
}

/* Text styles */
p {
  font-family: "VCR OSD Mono", monospace;
  margin: 15px 0;
  font-size: 1.2em;
  text-align: left;
  user-select: text;
  width: 90%;
  margin: 0 auto;
}

div {
  padding: 10px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.poll-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.chapter-container {
  border: solid 2px red;
  width: 60%;
  margin: auto;
}

.poll {
  flex-direction: row;
}

textarea {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 6vmin;
  padding-left: 6px;
  white-space: pre-wrap;
  font-size: 2.25vmin;
  font-family: "VCR OSD Mono", monospace;
  border: 2px solid #c00000;
  color: #c00000;
  background-color: inherit;
  outline: none;
  box-sizing: border-box;
}
/* Responsive styles */
@media (max-width: 768px) {
  button {
    width: 100%;
    margin: 0;
  }

  .responsive-media {
    max-height: 30%;
    max-width: 80%;
    width: auto;
  }

  p {
    font-size: 1em;
    width: 90%;
  }

  div {
    padding: 5px;
  }
  #chapter-location {
    font-size: 1.4em;
  }
  
  .chapter-container {
    border: solid 2px red;
    width:90%;
    margin: 0 auto;
  }
}
