<div>
  <div id="chapter-location">{{ chapterLocation }}</div>
</div>
<ng-template #mediaDisplay let-address>
  <ng-container [ngSwitch]="getMediaType(address)">
    <img
      *ngSwitchCase="'image'"
      class="responsive-media"
      [src]="'/assets/images/' + address"
      alt="Media Image"
    />
    <video
      *ngSwitchCase="'video'"
      class="responsive-media"
      [src]="'/assets/videos/' + address"
      controls
      autoplay
    ></video>
    <audio
      *ngSwitchCase="'audio'"
      [src]="'/assets/sounds/' + address"
      controls
    ></audio>
    <i
      ><p *ngSwitchCase="'text'" [innerHTML]=address></p
    ></i>
    <!-- <p *ngSwitchDefault>Unsupported media type</p> -->
  </ng-container>
</ng-template>

<ng-template #buttonContainer let-response>
  <div class="button-container">
    <div *ngIf="hasHistory">
      <button (click)="goBack()">BACK</button>
    </div>
    <div *ngFor="let ans of getAnswers(response)">
      <button
        *ngIf="ans.location; else noAction"
        (click)="loadChapter(ans.location, true)"
      >
        {{ ans.text.toUpperCase() }}
      </button>
      <ng-template #noAction>
        <button>{{ ans.text.toUpperCase() }}</button>
      </ng-template>
    </div>
  </div>
</ng-template>

<ng-template #pollContainer let-response>
  <div class="poll-container">
    <div *ngIf="hasHistory">
      <button (click)="goBack()">BACK</button>
    </div>
    <div *ngIf="response.content.metadata == 'textbox'" class="poll">
      <textarea maxlength="100"></textarea>
    </div>
    <div *ngIf="response.content.metadata != 'textbox'" class="poll">
      <div *ngIf="response.poll.answer1 && response.poll.answer1 > 0">
        <div>{{ response.content.answer1 }}</div>
        <div>{{ response.poll.answer1 }} votes</div>
        <div>
          {{
            (response.poll.answer1 /
              (response.poll.answer1 + response.poll.answer2)) *
              100 | number : "1.0-2"
          }}%
        </div>
      </div>

      <div *ngIf="response.poll.answer2 && response.poll.answer2 > 0">
        <div>{{ response.content.answer2 }}</div>
        <div>{{ response.poll.answer2 }} votes</div>
        <div>
          {{
            (response.poll.answer2 /
              (response.poll.answer1 + response.poll.answer2)) *
              100 | number : "1.0-2"
          }}%
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div *ngIf="data" class="chapter-container">
  <div *ngIf="data.response.chapter">
    <div *ngIf="data.response.chapter.address">
      <ng-container
        *ngTemplateOutlet="
          mediaDisplay;
          context: { $implicit: data.response.chapter.address }
        "
      ></ng-container>
    </div>
    <div *ngIf="data.response.chapter.metadata">
      <span>Hidden metadata</span>
      <ng-container
        *ngTemplateOutlet="
          mediaDisplay;
          context: { $implicit: data.response.chapter.metadata }
        "
      ></ng-container>
    </div>
    <div
      *ngFor="
        let part of getTextWithoutMarkers(data.response.chapter.text).split(
          '\n'
        )
      "
    >
      <p [innerHTML]="part">{{ part }}</p>
    </div>
    <ng-container
      *ngTemplateOutlet="
        buttonContainer;
        context: { $implicit: data.response.chapter }
      "
    ></ng-container>
  </div>
  <div *ngIf="data.response.content">
    <div *ngIf="data.response.content.address">
      <ng-container
        *ngTemplateOutlet="
          mediaDisplay;
          context: { $implicit: data.response.content.address }
        "
      ></ng-container>
    </div>
    <div
      *ngFor="
        let part of getTextWithoutMarkers(data.response.content.text).split(
          '\n'
        )
      "
    >
      <p [innerHTML]="part"></p>
      <br />
      <p>CHAPTER END</p>
    </div>
    <div *ngIf="data.response.content && data.response.poll">
      <ng-container
        *ngTemplateOutlet="pollContainer; context: { $implicit: data.response }"
      ></ng-container>
    </div>
  </div>
</div>
