<div>
  <p>{{chapterLocation}}</p>
</div>
<ng-template #mediaDisplay let-address>
  <ng-container [ngSwitch]="getMediaType(address)">
    <img
      *ngSwitchCase="'image'"
      class="responsive-media"
      [src]="'/assets/images/' + address"
      alt="Media Image"
    />
    <video
      *ngSwitchCase="'video'"
      class="responsive-media"
      [src]="'/assets/videos/' + address"
      controls
      autoplay
    ></video>
    <audio
      *ngSwitchCase="'audio'"
      [src]="'/assets/sounds/' + address"
      controls
    ></audio>
    <p *ngSwitchDefault>Unsupported media type</p>
  </ng-container>
</ng-template>

<ng-template #buttonContainer let-response>
  <div class="button-container">
    <div *ngIf="hasHistory">
      <button (click)="goBack()">BACK</button>
    </div>
    <div *ngIf="response.answer1">
      <button
        *ngIf="response.answer1Location; else noAction1"
        (click)="loadChapter(response.answer1Location, true)"
      >
        {{ response.answer1.toUpperCase() }}
      </button>
      <ng-template #noAction1>
        <button>{{ response.answer1.toUpperCase() }}</button>
      </ng-template>
    </div>
    <div *ngIf="response.answer2">
      <button
        *ngIf="response.answer2Location; else noAction2"
        (click)="loadChapter(response.answer2Location, true)"
      >
        {{ response.answer2.toUpperCase() }}
      </button>
      <ng-template #noAction2>
        <button>{{ response.answer2.toUpperCase() }}</button>
      </ng-template>
    </div>
    <div *ngIf="response.answer3">
      <button
        *ngIf="response.answer3Location; else noAction3"
        (click)="loadChapter(response.answer3Location, true)"
      >
        {{ response.answer3.toUpperCase() }}
      </button>
      <ng-template #noAction3>
        <button>{{ response.answer3.toUpperCase() }}</button>
      </ng-template>
    </div>
  </div>
</ng-template>

<div *ngIf="data">
  <div *ngIf="data.response.chapter">
    <div *ngIf="data.response.chapter.address">
      <ng-container
        *ngTemplateOutlet="mediaDisplay; context: { $implicit: data.response.chapter.address }"
      ></ng-container>
    </div>
    <div *ngIf="data.response.chapter.metadata">
      <ng-container
        *ngTemplateOutlet="mediaDisplay; context: { $implicit: data.response.chapter.metadata }"
      ></ng-container>
    </div>
    <div
      *ngFor="
        let part of getTextWithoutMarkers(data.response.chapter.text).split(
          '\n'
        )
      "
    >
      <p [innerHTML]="part">{{ part }}</p>
    </div>
    <ng-container
      *ngTemplateOutlet="buttonContainer; context: { $implicit: data.response.chapter }"
    ></ng-container>
  </div>
  <div *ngIf="data.response.content">
    <div *ngIf="data.response.content.address">
      <ng-container
        *ngTemplateOutlet="mediaDisplay; context: { $implicit: data.response.content.address }"
      ></ng-container>
    </div>
    <div
      *ngFor="
        let part of getTextWithoutMarkers(data.response.content.text).split(
          '\n'
        )
      "
    >
      <p [innerHTML]="part"></p>
      <br />
      <p>CHAPTER END</p>
    </div>
    <ng-container
      *ngTemplateOutlet="buttonContainer; context: { $implicit: data.response.content }"
    ></ng-container>
  </div>
</div>
